<!-- Carousel -->
			<section class="carousel">
				<div class="reel">

                        {# Here we use 'setcontent' to set the variable 'records' to "entries/latest/6",
                        which is shorthand for "the 6 latest records in Entries. Note that we are
                        requesting multiple entries, so 'records' will be an array containing each
                        of the entries. That's why we use the 'for' loop to iterate over them all. #}
                        
                        {% setcontent records = "entries/latest/10" %}
                        {% for record in records %}
                            <article>
                
                                {% if record.image!="" %}
                                    
                                        <a class="image featured" href="{{ record.link }}" alt="">
                                            <img src="{{ thumbnail(record.image, 338, 235) }}">
                                        </a>
                                        
                                    <header>
                                        <h3><a href="{{ record.link }}">{{ record.title }}</a></h3>
                                    </header>
                                    <p>{{ record.excerpt(74) }}</p>
                                       
                                {% endif %}
                
                
                
                            </article>
                
                        {% endfor %}

				</div>
			</section>